.title {
  font-size: 32px;
  margin-bottom: 40px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 14px;

  label {
    font-size: 18px;
    font-weight: bold;
  }

  input {
    border-radius: 5px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    min-width: 300px;
    padding: 0 10px;
  }
}
